<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinterest</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
      <link
      rel="stylesheet"
      type="text/css"
      href="../../public/stylesheets/style.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <style>
        *{
 margin: 0;
 padding: 0;
 /* font-family:; */
 box-sizing: border-box;
}



html ,body {
  width: 100%;
  height: 100%;
}
    </style> -->
  </head>

  <body>

    <% if(nav === true ) { %>

      <div class="w-full px-10 py-3 flex justify-between bg-zinc-800 text-white itmes-center">
        <h3>Pinterest</h3>
        <div class="flex gap-10 itmes-center place-items-center ">
          <a href="">Profile</a> <a href="">Feed</a> <a class="px-3 py-2 bg-red-700 text-white rounded-lg hover:bg-red-900" href="/">Logout</a>
        </div>
      </div>
      <!-- <hr> -->
  
    <% } %>

