<%- include('./partials/header.ejs')%>

<div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white">
    <div class=" cards flex flex-wrap gap-10 ">
        <!-- user.posts.forEach(functions(elem){}) -->
        <div class="card w-32">
            <!-- user.posts.forEach((data) => {
                
            }) -->
            <div class="card w-full h-40 bg-sky-200 rounded-lg">
                <img class="w-full h-full object-cover " src="" alt="">
            </div>

           <h5 class="mt-2 text-sm">some Title </h5>
        </div>
            <!-- user.posts.forEach(functions(elem){}) -->
    </div>
</div>

<%- include('./partials/footer.ejs')%>